:root {
  --primary-bred: hsl(12, 88%, 59%);
  --primary-dblue: hsl(228, 39%, 23%);
  --neutral-dgblue: hsl(227, 12%, 61%);
  --neutral-vdblue: hsl(233, 12%, 13%);
  --neutral-vpred: hsl(13, 100%, 96%);
  --neutral-vlgrey: hsl(0, 0%, 98%);
  --background: hsl(0, 0%, 100%);
}
